<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="collDI" name="collDI" class="l10_Spring_concepts2.DICollections">
		
		<property name="nameList">
			<list>
				<value>Aditya</value>
				<value>John</value>
				<value>David</value>
			</list>
		</property>
		<property name="countrySet">
			<set>
				<value>India</value>
				<value>USA</value>
				<value>Canada</value>
				<value>Canada</value>
				<value>Sri Lanka</value>
			</set>
		</property>
		
		<property name="addressMap">
			<map>
				<entry key="1" value ="1, Delhi"></entry>
				<entry key="2" value ="2, Delhi"></entry>
				<entry key="3" value ="3, Delhi"></entry>
				<entry key="3" value ="4, Delhi"></entry>
			</map>
		</property>
	</bean>

</beans>